<!-- /components/navbar.html -->
<nav class="navbar">
  <h1>Shree Rank 1</h1>
  <span class="menu-icon">&#9776;</span>
  <!-- Hamburger Icon -->
  <div class="mobile-menu" id="mobileMenu">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#goals">Goals</a></li>
      <li><a href="#quotes">Quotes</a></li>
      <li><a href="#weekly-targets">Weekly Targets</a></li>
      <li><a href="#subjects">Subjects</a></li>
      <li><a href="#test-series">Test Syllabus</a></li>
      <li><a href="./test_portal" target="_blank">Test Portal</a></li>
    </ul>
  </div>
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#goals">Goals</a></li>
    <li><a href="#quotes">Quotes</a></li>
    <li><a href="#weekly-targets">Weekly Targets</a></li>
    <li><a href="#subjects">Subjects</a></li>
    <li><a href="#test-series">Test Syllabus</a></li>
    <li><a href="./test_portal" target="_blank">Test Portal</a></li>
  </ul>
</nav>
